<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>      
  <session-factory>
    <!-- Database connection settings -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">1234</property>
 	<property name="show_sql">true</property>
        
        
    <mapping class="com.ug.hibernate.Paciente" />
    <mapping class="com.ug.hibernate.Medico" />
    <mapping class="com.ug.hibernate.Fisioterapeuta"/>
    <mapping class="com.ug.hibernate.TipoTerapia" />
    
  </session-factory>
</hibernate-configuration>